.card-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    .card {
        @extend %surface;
        box-shadow: adjust-color($color: black, $alpha: -.5) 0 0 .25em .25em;
        border-radius: .25rem;
        padding-bottom: 0;
        margin: .5rem .5rem;
        max-height: max-content;
        
        header {
            padding: .5rem .75rem;
        }
        canvas {
            margin-top: .75rem;
        }

    }

    .card-square { flex: 1 1 30%; }

    .card-rectangle { flex: 1 2 40%; }
}