$midnight-blue: hsl(236, 30%, 9%);
$pink: #E2216B;
$purple: #6937BB;
$blue: #01B5F1;
$green: #00A659;
$yellow: #EE9722;
$red: #ED3824;

/*
    Colorize vars
*/
$default-bg: $midnight-blue;
$surface-bg: adjust-color($color: $default-bg, $lightness: -2%);
$default-color: white;
$surface-color: white;

/* Inheritance */
%surface {
    background-color: $surface-bg;
    color: $surface-color;
}

%outline {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
}